USE [master]
GO
/****** Object:  Database [CLI_INDIVIDU]    Script Date: 6/5/2026 4:48:51 PM ******/
CREATE DATABASE [CLI_INDIVIDU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLI_INDIVIDU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CLI_INDIVIDU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLI_INDIVIDU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CLI_INDIVIDU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLI_INDIVIDU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLI_INDIVIDU]
GO
/****** Object:  Table [dbo].[aplikasi]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplikasi](
	[aplikasi_id] [varchar](16) NOT NULL,
	[nomor_spaj] [nvarchar](50) NOT NULL,
	[kode_plan] [nvarchar](50) NOT NULL,
	[no_pemegang_polis] [varchar](16) NOT NULL,
	[no_tertanggung] [varchar](16) NULL,
	[no_agen] [nvarchar](16) NULL,
	[tujuan_asuransi] [nvarchar](50) NULL,
	[usia_th] [int] NULL,
	[tanggal_mulai_pertanggungan] [date] NULL,
	[tanggal_akhir_pertanggungan] [date] NULL,
	[kode_mata_uang] [nvarchar](3) NULL,
	[premi] [decimal](18, 2) NULL,
	[nilai_kurs] [decimal](18, 2) NULL,
	[tenor_bulan] [int] NULL,
	[frekuensi_pembayaran_bulan] [int] NULL,
	[rate_pengajuan] [decimal](18, 4) NULL,
	[rate_komisi] [decimal](18, 4) NULL,
	[status_aplikasi] [int] NULL,
	[no_polis_ref] [nvarchar](50) NULL,
	[tgl_pengajuan] [datetime] NULL,
	[tgl_dana] [datetime] NULL,
	[tgl_underwrite] [datetime] NULL,
	[catatan_underwrite] [varchar](100) NULL,
	[user_underwrite] [varchar](100) NULL,
 CONSTRAINT [PK__aplikasi__11FE655EA5911432] PRIMARY KEY CLUSTERED 
(
	[aplikasi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aplikasi_ahli_waris]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplikasi_ahli_waris](
	[aplikasi_ahli_waris_id] [bigint] IDENTITY(1,1) NOT NULL,
	[aplikasi_id] [varchar](16) NOT NULL,
	[cif_id] [varchar](16) NOT NULL,
	[no_urut] [int] NOT NULL,
	[persentase] [decimal](5, 2) NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_aplikasi_ahli_waris] PRIMARY KEY CLUSTERED 
(
	[aplikasi_ahli_waris_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aplikasi_cif]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplikasi_cif](
	[aplikasi_cif_id] [bigint] IDENTITY(1,1) NOT NULL,
	[aplikasi_id] [varchar](16) NOT NULL,
	[cif_id] [varchar](16) NOT NULL,
	[nama_lengkap] [nvarchar](150) NOT NULL,
	[jenis_kelamin] [char](1) NULL,
	[tempat_lahir] [nvarchar](100) NULL,
	[tanggal_lahir] [date] NULL,
	[nama_gadis_ibu_kandung] [nvarchar](150) NULL,
	[status_perkawinan] [nvarchar](20) NULL,
	[agama] [nvarchar](30) NULL,
	[kewarganegaraan] [nvarchar](10) NOT NULL,
	[negara_asal] [nvarchar](100) NULL,
	[email] [nvarchar](150) NULL,
	[nomor_hp] [nvarchar](30) NULL,
	[jenis_identitas] [nvarchar](30) NOT NULL,
	[nomor_identitas] [nvarchar](50) NOT NULL,
	[npwp] [nvarchar](16) NULL,
	[jenis_pekerjaan] [nvarchar](50) NOT NULL,
	[nama_perusahaan] [nvarchar](150) NULL,
	[alamat_perusahaan] [nvarchar](300) NULL,
	[bidang_usaha] [nvarchar](150) NULL,
	[jabatan] [nvarchar](100) NULL,
	[nama_bank] [nvarchar](100) NOT NULL,
	[nomor_rekening] [nvarchar](50) NOT NULL,
	[mata_uang] [nvarchar](10) NOT NULL,
	[nama_pemilik_rekening] [nvarchar](150) NOT NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_aplikasi_cif] PRIMARY KEY CLUSTERED 
(
	[aplikasi_cif_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aplikasi_cif_address]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplikasi_cif_address](
	[aplikasi_cif_id] [bigint] IDENTITY(1,1) NOT NULL,
	[aplikasi_id] [varchar](16) NOT NULL,
	[cif_id] [varchar](16) NOT NULL,
	[address_type] [varchar](20) NOT NULL,
	[is_primary] [bit] NOT NULL,
	[alamat_lengkap] [varchar](255) NOT NULL,
	[rt] [varchar](3) NULL,
	[rw] [varchar](3) NULL,
	[kelurahan] [varchar](100) NULL,
	[kecamatan] [varchar](100) NULL,
	[kota_kabupaten] [varchar](100) NULL,
	[provinsi] [varchar](100) NULL,
	[kode_pos] [varchar](10) NULL,
	[negara] [varchar](100) NULL,
	[no_telp] [varchar](20) NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_aplikasi_cif_address] PRIMARY KEY CLUSTERED 
(
	[aplikasi_cif_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aplikasi_document]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aplikasi_document](
	[document_aplikasi_id] [bigint] IDENTITY(1,1) NOT NULL,
	[aplikasi_id] [varchar](16) NOT NULL,
	[document_type] [varchar](50) NOT NULL,
	[document_name] [varchar](150) NOT NULL,
	[file_path] [varchar](500) NOT NULL,
	[file_extension] [varchar](10) NOT NULL,
	[file_size_kb] [int] NULL,
	[uploaded_by] [varchar](100) NOT NULL,
	[uploaded_at] [datetime] NOT NULL,
	[remarks] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_document_aplikasi] PRIMARY KEY CLUSTERED 
(
	[document_aplikasi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cif]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cif](
	[cif_id] [varchar](16) NOT NULL,
	[nama_lengkap] [nvarchar](150) NOT NULL,
	[jenis_kelamin] [char](1) NULL,
	[tempat_lahir] [nvarchar](100) NULL,
	[tanggal_lahir] [date] NULL,
	[nama_gadis_ibu_kandung] [nvarchar](150) NULL,
	[status_perkawinan] [nvarchar](20) NULL,
	[agama] [nvarchar](30) NULL,
	[kewarganegaraan] [nvarchar](10) NOT NULL,
	[negara_asal] [nvarchar](100) NULL,
	[email] [nvarchar](150) NULL,
	[nomor_hp] [nvarchar](30) NULL,
	[jenis_identitas] [nvarchar](30) NOT NULL,
	[nomor_identitas] [nvarchar](50) NOT NULL,
	[npwp] [nvarchar](16) NULL,
	[jenis_pekerjaan] [nvarchar](50) NOT NULL,
	[nama_perusahaan] [nvarchar](150) NULL,
	[alamat_perusahaan] [nvarchar](300) NULL,
	[bidang_usaha] [nvarchar](150) NULL,
	[jabatan] [nvarchar](100) NULL,
	[nama_bank] [nvarchar](100) NOT NULL,
	[nomor_rekening] [nvarchar](50) NOT NULL,
	[mata_uang] [nvarchar](10) NOT NULL,
	[nama_pemilik_rekening] [nvarchar](150) NOT NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__cif__4FFCF72A27AAC967] PRIMARY KEY CLUSTERED 
(
	[cif_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cif_address]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cif_address](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[cif_id] [varchar](16) NOT NULL,
	[address_type] [varchar](20) NOT NULL,
	[is_primary] [bit] NOT NULL,
	[alamat_lengkap] [varchar](255) NOT NULL,
	[rt] [varchar](3) NULL,
	[rw] [varchar](3) NULL,
	[kelurahan] [varchar](100) NULL,
	[kecamatan] [varchar](100) NULL,
	[kota_kabupaten] [varchar](100) NULL,
	[provinsi] [varchar](100) NULL,
	[kode_pos] [varchar](10) NULL,
	[negara] [varchar](100) NULL,
	[no_telp] [varchar](20) NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__cif_addr__CAA247C8E48460F6] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cif_family]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cif_family](
	[family_id] [int] IDENTITY(1,1) NOT NULL,
	[cif_id_utama] [varchar](16) NOT NULL,
	[cif_id_keluarga] [varchar](16) NOT NULL,
	[hubungan_keluarga] [nvarchar](30) NOT NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__cif_fami__28829CD611159548] PRIMARY KEY CLUSTERED 
(
	[family_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cif_pajak_wna]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cif_pajak_wna](
	[pajak_id] [int] IDENTITY(1,1) NOT NULL,
	[cif_id] [varchar](16) NOT NULL,
	[jenis_pajak] [nvarchar](30) NOT NULL,
	[nomor_pajak] [nvarchar](50) NOT NULL,
	[negara_pajak] [nvarchar](100) NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__cif_paja__F5E215C0F4A29D91] PRIMARY KEY CLUSTERED 
(
	[pajak_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[code] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kurs_harian]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kurs_harian](
	[kurs_harian_id] [bigint] IDENTITY(1,1) NOT NULL,
	[kurs_date] [date] NOT NULL,
	[currency_code] [varchar](3) NOT NULL,
	[kurs_beli] [decimal](18, 6) NOT NULL,
	[kurs_jual] [decimal](18, 6) NOT NULL,
	[kurs_tengah]  AS (([kurs_beli]+[kurs_jual])/(2.0)) PERSISTED,
	[is_active] [bit] NOT NULL,
	[created_by] [nvarchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_kurs_harian] PRIMARY KEY CLUSTERED 
(
	[kurs_harian_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_lookup]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_lookup](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_code] [varchar](50) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[value] [varchar](100) NULL,
	[sequence] [int] NULL,
	[is_active] [bit] NULL,
	[description] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_negara]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_negara](
	[country_id] [bigint] IDENTITY(1,1) NOT NULL,
	[kd_iso3] [char](3) NOT NULL,
	[kd_iso2] [char](2) NOT NULL,
	[kd_iso_num] [char](3) NOT NULL,
	[nama_negara] [varchar](150) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_produk]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_produk](
	[kode_produk] [varchar](20) NOT NULL,
	[nama_produk] [varchar](100) NOT NULL,
	[kode_mata_uang] [char](3) NOT NULL,
	[no_rekening_penerima] [varchar](20) NULL,
	[premi_min] [decimal](18, 2) NULL,
	[premi_max] [decimal](18, 2) NULL,
	[keterangan] [varchar](255) NULL,
	[status] [varchar](10) NOT NULL,
	[created_by] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_master_produk] PRIMARY KEY CLUSTERED 
(
	[kode_produk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_produk_plan]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_produk_plan](
	[kode_produk] [varchar](20) NOT NULL,
	[kode_plan] [varchar](30) NOT NULL,
	[nama_plan] [varchar](100) NOT NULL,
	[frekuensi_pembayaran_bulan] [int] NOT NULL,
	[tenor_bulan] [int] NOT NULL,
	[butuh_konfirmasi_cair] [char](1) NOT NULL,
	[batas_konfirmasi_hari] [int] NOT NULL,
	[keterangan] [varchar](255) NULL,
	[status] [varchar](10) NULL,
	[created_by] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_by] [varchar](100) NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_master_produk_plan] PRIMARY KEY CLUSTERED 
(
	[kode_produk] ASC,
	[kode_plan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menus]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parent_id] [int] NULL,
	[name] [varchar](100) NOT NULL,
	[code] [varchar](100) NOT NULL,
	[url] [varchar](255) NULL,
	[controller] [varchar](50) NULL,
	[action] [varchar](50) NULL,
	[param] [int] NULL,
	[icon] [varchar](100) NULL,
	[sort_order] [int] NULL,
	[is_active] [bit] NULL,
	[menu_type] [varchar](20) NULL,
	[stored_procedure] [varchar](200) NULL,
	[params_json] [nvarchar](max) NULL,
 CONSTRAINT [PK__menus__3213E83F6E6E21B0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[polis]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[polis](
	[no_polis] [varchar](30) NOT NULL,
	[aplikasi_id] [varchar](16) NOT NULL,
	[tgl_exit] [datetime] NULL,
	[status_polis] [int] NOT NULL,
	[tgl_cetak] [datetime] NULL,
	[tgl_convert] [datetime] NULL,
	[user_convert] [varchar](100) NULL,
	[nailai_up_max] [decimal](18, 2) NULL,
 CONSTRAINT [PK_polis] PRIMARY KEY CLUSTERED 
(
	[no_polis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_department_menu]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_department_menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[menu_id] [int] NOT NULL,
	[is_access] [bit] NULL,
 CONSTRAINT [PK__role_dep__3213E83F09FAB870] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[level_role] [int] NULL,
	[description] [varchar](255) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK__roles__3213E83F1DC46AA9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/5/2026 4:48:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [varchar](50) NOT NULL,
	[department_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [varchar](150) NULL,
	[email] [varchar](150) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[password_expiry_date] [datetime] NULL,
 CONSTRAINT [PK__users__B9BE370FF4FB9443] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([id], [name], [code], [created_at]) VALUES (1, N'IT', N'IT', CAST(N'2025-11-14T14:00:11.960' AS DateTime))
INSERT [dbo].[departments] ([id], [name], [code], [created_at]) VALUES (2, N'Finance', N'FIN', CAST(N'2025-11-14T14:00:11.960' AS DateTime))
INSERT [dbo].[departments] ([id], [name], [code], [created_at]) VALUES (3, N'Actuary', N'ACT', CAST(N'2025-12-05T14:30:08.327' AS DateTime))
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
SET IDENTITY_INSERT [dbo].[master_lookup] ON 

INSERT [dbo].[master_lookup] ([id], [group_code], [code], [name], [value], [sequence], [is_active], [description], [created_at], [created_by], [updated_at], [updated_by]) VALUES (1, N'PAYMENT_PAYER', N'POLICY_HOLDER', N'Pemegang Polis', NULL, 1, 1, NULL, CAST(N'2026-02-19T10:04:35.880' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[master_lookup] ([id], [group_code], [code], [name], [value], [sequence], [is_active], [description], [created_at], [created_by], [updated_at], [updated_by]) VALUES (2, N'PAYMENT_PAYER', N'INSURED', N'Tertanggung', NULL, 2, 1, NULL, CAST(N'2026-02-19T10:04:35.880' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[master_lookup] ([id], [group_code], [code], [name], [value], [sequence], [is_active], [description], [created_at], [created_by], [updated_at], [updated_by]) VALUES (3, N'PAYMENT_PAYER', N'OTHER', N'Lainnya', NULL, 3, 1, NULL, CAST(N'2026-02-19T10:04:35.880' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[master_lookup] OFF
GO
SET IDENTITY_INSERT [dbo].[master_negara] ON 

INSERT [dbo].[master_negara] ([country_id], [kd_iso3], [kd_iso2], [kd_iso_num], [nama_negara], [is_active], [created_at], [created_by], [updated_at], [updated_by]) VALUES (1, N'ABW', N'AW', N'297', N'Aruba', 1, CAST(N'2026-02-19T10:13:46.360' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[master_negara] ([country_id], [kd_iso3], [kd_iso2], [kd_iso_num], [nama_negara], [is_active], [created_at], [created_by], [updated_at], [updated_by]) VALUES (2, N'AFG', N'AF', N'93 ', N'Afghanistan', 1, CAST(N'2026-02-19T10:13:46.447' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[master_negara] ([country_id], [kd_iso3], [kd_iso2], [kd_iso_num], [nama_negara], [is_active], [created_at], [created_by], [updated_at], [updated_by]) VALUES (3, N'AGO', N'AO', N'244', N'Angola', 1, CAST(N'2026-02-19T10:13:46.497' AS DateTime), NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[master_negara] OFF
GO
INSERT [dbo].[master_produk] ([kode_produk], [nama_produk], [kode_mata_uang], [no_rekening_penerima], [premi_min], [premi_max], [keterangan], [status], [created_by], [created_at], [updated_by], [updated_at]) VALUES (N'CPPID01', N'CAPITAL PROTEKSI PLUS (IDR)', N'IDR', N'123', CAST(100000000.00 AS Decimal(18, 2)), NULL, NULL, N'AKTIF', NULL, CAST(N'2026-02-14T22:24:27.800' AS DateTime), NULL, NULL)
INSERT [dbo].[master_produk] ([kode_produk], [nama_produk], [kode_mata_uang], [no_rekening_penerima], [premi_min], [premi_max], [keterangan], [status], [created_by], [created_at], [updated_by], [updated_at]) VALUES (N'CPPID02', N'CAPITAL PROTEKSI PLUS (USD)', N'USD', N'321', NULL, NULL, NULL, N'AKTIF', NULL, CAST(N'2026-02-14T22:25:27.140' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[master_produk_plan] ([kode_produk], [kode_plan], [nama_plan], [frekuensi_pembayaran_bulan], [tenor_bulan], [butuh_konfirmasi_cair], [batas_konfirmasi_hari], [keterangan], [status], [created_by], [created_at], [updated_by], [updated_at]) VALUES (N'CPPID01', N'CPPID01_01', N'1/12', 1, 12, N'Y', 7, NULL, N'AKTIF', NULL, CAST(N'2026-02-19T10:44:18.553' AS DateTime), NULL, NULL)
INSERT [dbo].[master_produk_plan] ([kode_produk], [kode_plan], [nama_plan], [frekuensi_pembayaran_bulan], [tenor_bulan], [butuh_konfirmasi_cair], [batas_konfirmasi_hari], [keterangan], [status], [created_by], [created_at], [updated_by], [updated_at]) VALUES (N'CPPID01', N'CPPID01_02', N'3/12', 3, 12, N'Y', 7, NULL, N'AKTIF', NULL, CAST(N'2026-02-19T10:44:36.727' AS DateTime), NULL, NULL)
INSERT [dbo].[master_produk_plan] ([kode_produk], [kode_plan], [nama_plan], [frekuensi_pembayaran_bulan], [tenor_bulan], [butuh_konfirmasi_cair], [batas_konfirmasi_hari], [keterangan], [status], [created_by], [created_at], [updated_by], [updated_at]) VALUES (N'CPPID01', N'CPPID01_03', N'6/12', 6, 12, N'Y', 7, NULL, N'AKTIF', NULL, CAST(N'2026-02-19T10:45:01.647' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[menus] ON 

INSERT [dbo].[menus] ([id], [parent_id], [name], [code], [url], [controller], [action], [param], [icon], [sort_order], [is_active], [menu_type], [stored_procedure], [params_json]) VALUES (1, NULL, N'Dashboard', N'dashboard', N'/Dashboard/Index', N'Dashboard', N'Index', NULL, N'solar:home-2-line-duotone', 1, 1, N'folder', NULL, NULL)
INSERT [dbo].[menus] ([id], [parent_id], [name], [code], [url], [controller], [action], [param], [icon], [sort_order], [is_active], [menu_type], [stored_procedure], [params_json]) VALUES (2, NULL, N'Settings', N'settings', NULL, NULL, NULL, NULL, N'solar:settings-outline', 2, 1, N'folder', NULL, NULL)
INSERT [dbo].[menus] ([id], [parent_id], [name], [code], [url], [controller], [action], [param], [icon], [sort_order], [is_active], [menu_type], [stored_procedure], [params_json]) VALUES (3, NULL, N'Reports', N'reports', NULL, NULL, NULL, NULL, N'fa fa-chart-bar', 4, 1, N'folder', NULL, NULL)
SET IDENTITY_INSERT [dbo].[menus] OFF
GO
SET IDENTITY_INSERT [dbo].[role_department_menu] ON 

INSERT [dbo].[role_department_menu] ([id], [role_id], [department_id], [menu_id], [is_access]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[role_department_menu] ([id], [role_id], [department_id], [menu_id], [is_access]) VALUES (2, 1, 1, 2, 1)
INSERT [dbo].[role_department_menu] ([id], [role_id], [department_id], [menu_id], [is_access]) VALUES (3, 1, 1, 5, 1)
SET IDENTITY_INSERT [dbo].[role_department_menu] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [level_role], [description], [created_at]) VALUES (1, N'Administrator', NULL, N'Administrator', CAST(N'2025-11-14T14:00:11.967' AS DateTime))
INSERT [dbo].[roles] ([id], [name], [level_role], [description], [created_at]) VALUES (2, N'Division Head', 4, N'', CAST(N'2025-11-14T14:00:11.967' AS DateTime))
INSERT [dbo].[roles] ([id], [name], [level_role], [description], [created_at]) VALUES (3, N'Department Head', 3, N'', CAST(N'2025-12-05T14:30:12.033' AS DateTime))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[users] ([user_id], [department_id], [role_id], [password_hash], [full_name], [email], [is_active], [created_at], [updated_at], [password_expiry_date]) VALUES (N'000001', 1, 1, N'$2a$12$Tvfzo8gIUuPQV2uyFns0wOsRfT991I1qZj4hMBmOE6dHVHO4wU8fO', N'Administrator', N'admin@capital.com', 1, CAST(N'2026-03-01T19:23:47.800' AS DateTime), CAST(N'2026-03-01T19:23:47.800' AS DateTime), CAST(N'2028-11-25T19:23:47.800' AS DateTime))
INSERT [dbo].[users] ([user_id], [department_id], [role_id], [password_hash], [full_name], [email], [is_active], [created_at], [updated_at], [password_expiry_date]) VALUES (N'000002', 4, 6, N'000002', N'Dummy', N'dummy@gmail.com', 1, CAST(N'2026-03-13T01:52:54.580' AS DateTime), NULL, CAST(N'2029-03-13T01:52:54.610' AS DateTime))
INSERT [dbo].[users] ([user_id], [department_id], [role_id], [password_hash], [full_name], [email], [is_active], [created_at], [updated_at], [password_expiry_date]) VALUES (N'000003', 3, 3, N'$2a$11$Irr1h5B9lLwB/JPCUGHMK.DpBFkXZT.G/FewQuEhw7PY5S2C1mK4O', N'Lorem Ipsum', N'loremipsum@gmail.com', 1, CAST(N'2026-03-13T21:35:56.947' AS DateTime), NULL, CAST(N'2029-03-13T21:35:56.950' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cif_address_cif]    Script Date: 6/5/2026 4:48:52 PM ******/
CREATE NONCLUSTERED INDEX [idx_cif_address_cif] ON [dbo].[cif_address]
(
	[cif_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_cif_address_primary]    Script Date: 6/5/2026 4:48:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_cif_address_primary] ON [dbo].[cif_address]
(
	[cif_id] ASC,
	[address_type] ASC
)
WHERE ([is_primary]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_family]    Script Date: 6/5/2026 4:48:52 PM ******/
ALTER TABLE [dbo].[cif_family] ADD  CONSTRAINT [uq_family] UNIQUE NONCLUSTERED 
(
	[cif_id_utama] ASC,
	[cif_id_keluarga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__departme__357D4CF91613ABA3]    Script Date: 6/5/2026 4:48:52 PM ******/
ALTER TABLE [dbo].[departments] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_kurs_harian_date_currency]    Script Date: 6/5/2026 4:48:52 PM ******/
ALTER TABLE [dbo].[kurs_harian] ADD  CONSTRAINT [UQ_kurs_harian_date_currency] UNIQUE NONCLUSTERED 
(
	[kurs_date] ASC,
	[currency_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_master_lookup]    Script Date: 6/5/2026 4:48:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_master_lookup] ON [dbo].[master_lookup]
(
	[group_code] ASC,
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_country_iso2]    Script Date: 6/5/2026 4:48:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_country_iso2] ON [dbo].[master_negara]
(
	[kd_iso2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_country_iso3]    Script Date: 6/5/2026 4:48:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_country_iso3] ON [dbo].[master_negara]
(
	[kd_iso3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_country_isonum]    Script Date: 6/5/2026 4:48:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_country_isonum] ON [dbo].[master_negara]
(
	[kd_iso_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__master_p__C637CE6F353874C9]    Script Date: 6/5/2026 4:48:52 PM ******/
ALTER TABLE [dbo].[master_produk] ADD  CONSTRAINT [UQ__master_p__C637CE6F353874C9] UNIQUE NONCLUSTERED 
(
	[kode_produk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__menus__357D4CF9971E9AB5]    Script Date: 6/5/2026 4:48:52 PM ******/
ALTER TABLE [dbo].[menus] ADD  CONSTRAINT [UQ__menus__357D4CF9971E9AB5] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_polis_aplikasi]    Script Date: 6/5/2026 4:48:52 PM ******/
CREATE NONCLUSTERED INDEX [idx_polis_aplikasi] ON [dbo].[polis]
(
	[aplikasi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_polis_status]    Script Date: 6/5/2026 4:48:52 PM ******/
CREATE NONCLUSTERED INDEX [idx_polis_status] ON [dbo].[polis]
(
	[status_polis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_role_dept_menu]    Script Date: 6/5/2026 4:48:52 PM ******/
ALTER TABLE [dbo].[role_department_menu] ADD  CONSTRAINT [uq_role_dept_menu] UNIQUE NONCLUSTERED 
(
	[role_id] ASC,
	[department_id] ASC,
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aplikasi_ahli_waris] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[aplikasi_cif] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[aplikasi_cif_address] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[aplikasi_document] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[aplikasi_document] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[cif] ADD  CONSTRAINT [DF__cif__created_at__4AB81AF0]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[cif_address] ADD  CONSTRAINT [DF__cif_addre__is_pr__3E1D39E1]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[cif_address] ADD  CONSTRAINT [DF__cif_addre__negar__3F115E1A]  DEFAULT ('indonesia') FOR [negara]
GO
ALTER TABLE [dbo].[cif_address] ADD  CONSTRAINT [DF_cif_address_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[cif_family] ADD  CONSTRAINT [DF_cif_family_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[cif_pajak_wna] ADD  CONSTRAINT [DF_cif_pajak_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[kurs_harian] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[kurs_harian] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[master_lookup] ADD  DEFAULT ((0)) FOR [sequence]
GO
ALTER TABLE [dbo].[master_lookup] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_lookup] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[master_negara] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_negara] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[master_produk] ADD  CONSTRAINT [DF__master_pr__statu__531856C7]  DEFAULT ('AKTIF') FOR [status]
GO
ALTER TABLE [dbo].[master_produk] ADD  CONSTRAINT [DF__master_pr__creat__540C7B00]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[master_produk_plan] ADD  CONSTRAINT [DF__master_pr__butuh__56E8E7AB]  DEFAULT ('Y') FOR [butuh_konfirmasi_cair]
GO
ALTER TABLE [dbo].[master_produk_plan] ADD  CONSTRAINT [DF__master_pr__batas__57DD0BE4]  DEFAULT ((7)) FOR [batas_konfirmasi_hari]
GO
ALTER TABLE [dbo].[master_produk_plan] ADD  CONSTRAINT [DF__master_pr__statu__58D1301D]  DEFAULT ('AKTIF') FOR [status]
GO
ALTER TABLE [dbo].[master_produk_plan] ADD  CONSTRAINT [DF__master_pr__creat__59C55456]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[menus] ADD  CONSTRAINT [DF__menus__sort_orde__403A8C7D]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[menus] ADD  CONSTRAINT [DF__menus__is_active__412EB0B6]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[role_department_menu] ADD  CONSTRAINT [DF__role_depa__can_v__797309D9]  DEFAULT ((1)) FOR [is_access]
GO
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [DF__roles__created_a__3C69FB99]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__status__5CD6CB2B]  DEFAULT ('active') FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__created_a__5DCAEF64]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__updated_a__5EBF139D]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[aplikasi]  WITH CHECK ADD  CONSTRAINT [FK_aplikasi_pemegang_polis] FOREIGN KEY([no_pemegang_polis])
REFERENCES [dbo].[cif] ([cif_id])
GO
ALTER TABLE [dbo].[aplikasi] CHECK CONSTRAINT [FK_aplikasi_pemegang_polis]
GO
ALTER TABLE [dbo].[aplikasi]  WITH CHECK ADD  CONSTRAINT [FK_aplikasi_tertanggung] FOREIGN KEY([no_tertanggung])
REFERENCES [dbo].[cif] ([cif_id])
GO
ALTER TABLE [dbo].[aplikasi] CHECK CONSTRAINT [FK_aplikasi_tertanggung]
GO
ALTER TABLE [dbo].[aplikasi_ahli_waris]  WITH CHECK ADD  CONSTRAINT [FK_aplikasi_ahli_waris_aplikasi] FOREIGN KEY([aplikasi_id])
REFERENCES [dbo].[aplikasi] ([aplikasi_id])
GO
ALTER TABLE [dbo].[aplikasi_ahli_waris] CHECK CONSTRAINT [FK_aplikasi_ahli_waris_aplikasi]
GO
ALTER TABLE [dbo].[aplikasi_ahli_waris]  WITH CHECK ADD  CONSTRAINT [FK_aplikasi_ahli_waris_cif] FOREIGN KEY([cif_id])
REFERENCES [dbo].[cif] ([cif_id])
GO
ALTER TABLE [dbo].[aplikasi_ahli_waris] CHECK CONSTRAINT [FK_aplikasi_ahli_waris_cif]
GO
ALTER TABLE [dbo].[aplikasi_cif]  WITH CHECK ADD  CONSTRAINT [FK_aplikasi_cif_aplikasi] FOREIGN KEY([aplikasi_id])
REFERENCES [dbo].[aplikasi] ([aplikasi_id])
GO
ALTER TABLE [dbo].[aplikasi_cif] CHECK CONSTRAINT [FK_aplikasi_cif_aplikasi]
GO
ALTER TABLE [dbo].[aplikasi_cif]  WITH CHECK ADD  CONSTRAINT [FK_aplikasi_cif_cif] FOREIGN KEY([cif_id])
REFERENCES [dbo].[cif] ([cif_id])
GO
ALTER TABLE [dbo].[aplikasi_cif] CHECK CONSTRAINT [FK_aplikasi_cif_cif]
GO
ALTER TABLE [dbo].[aplikasi_cif_address]  WITH CHECK ADD  CONSTRAINT [FK_aplikasi_cif_address_aplikasi] FOREIGN KEY([aplikasi_id])
REFERENCES [dbo].[aplikasi] ([aplikasi_id])
GO
ALTER TABLE [dbo].[aplikasi_cif_address] CHECK CONSTRAINT [FK_aplikasi_cif_address_aplikasi]
GO
ALTER TABLE [dbo].[aplikasi_cif_address]  WITH CHECK ADD  CONSTRAINT [FK_aplikasi_cif_address_cif] FOREIGN KEY([cif_id])
REFERENCES [dbo].[cif] ([cif_id])
GO
ALTER TABLE [dbo].[aplikasi_cif_address] CHECK CONSTRAINT [FK_aplikasi_cif_address_cif]
GO
ALTER TABLE [dbo].[aplikasi_document]  WITH CHECK ADD  CONSTRAINT [FK_document_aplikasi_aplikasi] FOREIGN KEY([aplikasi_id])
REFERENCES [dbo].[aplikasi] ([aplikasi_id])
GO
ALTER TABLE [dbo].[aplikasi_document] CHECK CONSTRAINT [FK_document_aplikasi_aplikasi]
GO
ALTER TABLE [dbo].[cif_address]  WITH CHECK ADD  CONSTRAINT [fk_cif_address_cif] FOREIGN KEY([cif_id])
REFERENCES [dbo].[cif] ([cif_id])
GO
ALTER TABLE [dbo].[cif_address] CHECK CONSTRAINT [fk_cif_address_cif]
GO
ALTER TABLE [dbo].[cif_family]  WITH CHECK ADD  CONSTRAINT [fk_family_keluarga] FOREIGN KEY([cif_id_keluarga])
REFERENCES [dbo].[cif] ([cif_id])
GO
ALTER TABLE [dbo].[cif_family] CHECK CONSTRAINT [fk_family_keluarga]
GO
ALTER TABLE [dbo].[cif_family]  WITH CHECK ADD  CONSTRAINT [fk_family_utama] FOREIGN KEY([cif_id_utama])
REFERENCES [dbo].[cif] ([cif_id])
GO
ALTER TABLE [dbo].[cif_family] CHECK CONSTRAINT [fk_family_utama]
GO
ALTER TABLE [dbo].[cif_pajak_wna]  WITH CHECK ADD  CONSTRAINT [fk_cif_pajak] FOREIGN KEY([cif_id])
REFERENCES [dbo].[cif] ([cif_id])
GO
ALTER TABLE [dbo].[cif_pajak_wna] CHECK CONSTRAINT [fk_cif_pajak]
GO
ALTER TABLE [dbo].[master_produk_plan]  WITH CHECK ADD  CONSTRAINT [FK_master_produk_plan_produk] FOREIGN KEY([kode_produk])
REFERENCES [dbo].[master_produk] ([kode_produk])
GO
ALTER TABLE [dbo].[master_produk_plan] CHECK CONSTRAINT [FK_master_produk_plan_produk]
GO
ALTER TABLE [dbo].[menus]  WITH CHECK ADD  CONSTRAINT [FK__menus__parent_id__4222D4EF] FOREIGN KEY([parent_id])
REFERENCES [dbo].[menus] ([id])
GO
ALTER TABLE [dbo].[menus] CHECK CONSTRAINT [FK__menus__parent_id__4222D4EF]
GO
ALTER TABLE [dbo].[menus]  WITH CHECK ADD  CONSTRAINT [FK__menus__parent_id__5812160E] FOREIGN KEY([parent_id])
REFERENCES [dbo].[menus] ([id])
GO
ALTER TABLE [dbo].[menus] CHECK CONSTRAINT [FK__menus__parent_id__5812160E]
GO
ALTER TABLE [dbo].[role_department_menu]  WITH CHECK ADD  CONSTRAINT [FK__role_depa__depar__7D439ABD] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[role_department_menu] CHECK CONSTRAINT [FK__role_depa__depar__7D439ABD]
GO
ALTER TABLE [dbo].[role_department_menu]  WITH CHECK ADD  CONSTRAINT [FK__role_depa__depar__7E37BEF6] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[role_department_menu] CHECK CONSTRAINT [FK__role_depa__depar__7E37BEF6]
GO
ALTER TABLE [dbo].[role_department_menu]  WITH CHECK ADD  CONSTRAINT [FK__role_depa__menu___4AB81AF0] FOREIGN KEY([menu_id])
REFERENCES [dbo].[menus] ([id])
GO
ALTER TABLE [dbo].[role_department_menu] CHECK CONSTRAINT [FK__role_depa__menu___4AB81AF0]
GO
ALTER TABLE [dbo].[role_department_menu]  WITH CHECK ADD  CONSTRAINT [FK__role_depa__menu___534D60F1] FOREIGN KEY([menu_id])
REFERENCES [dbo].[menus] ([id])
GO
ALTER TABLE [dbo].[role_department_menu] CHECK CONSTRAINT [FK__role_depa__menu___534D60F1]
GO
ALTER TABLE [dbo].[role_department_menu]  WITH CHECK ADD  CONSTRAINT [FK__role_depa__menu___5BE2A6F2] FOREIGN KEY([menu_id])
REFERENCES [dbo].[menus] ([id])
GO
ALTER TABLE [dbo].[role_department_menu] CHECK CONSTRAINT [FK__role_depa__menu___5BE2A6F2]
GO
ALTER TABLE [dbo].[role_department_menu]  WITH CHECK ADD  CONSTRAINT [FK__role_depa__role___02084FDA] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_department_menu] CHECK CONSTRAINT [FK__role_depa__role___02084FDA]
GO
ALTER TABLE [dbo].[role_department_menu]  WITH CHECK ADD  CONSTRAINT [FK__role_depa__role___02FC7413] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_department_menu] CHECK CONSTRAINT [FK__role_depa__role___02FC7413]
GO
ALTER TABLE [dbo].[role_department_menu]  WITH CHECK ADD  CONSTRAINT [FK__role_depa__role___03F0984C] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[role_department_menu] CHECK CONSTRAINT [FK__role_depa__role___03F0984C]
GO
ALTER TABLE [dbo].[aplikasi_ahli_waris]  WITH CHECK ADD  CONSTRAINT [CK_aplikasi_ahli_waris_persentase] CHECK  (([persentase]>(0) AND [persentase]<=(100)))
GO
ALTER TABLE [dbo].[aplikasi_ahli_waris] CHECK CONSTRAINT [CK_aplikasi_ahli_waris_persentase]
GO
ALTER TABLE [dbo].[aplikasi_cif]  WITH CHECK ADD  CONSTRAINT [CK_aplikasi_cif_jenis_kelamin] CHECK  (([jenis_kelamin] IS NULL OR ([jenis_kelamin]='W' OR [jenis_kelamin]='P')))
GO
ALTER TABLE [dbo].[aplikasi_cif] CHECK CONSTRAINT [CK_aplikasi_cif_jenis_kelamin]
GO
ALTER TABLE [dbo].[cif]  WITH CHECK ADD  CONSTRAINT [CK__cif__jenis_kelam__49C3F6B7] CHECK  (([jenis_kelamin]='W' OR [jenis_kelamin]='P'))
GO
ALTER TABLE [dbo].[cif] CHECK CONSTRAINT [CK__cif__jenis_kelam__49C3F6B7]
GO
USE [master]
GO
